 Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

Write a python program to display IMDB’s Top rated 100 movies’ data(i.e. Name, IMDB rating, duration, director, star cast - 10 main characters)

In [4]:
from bs4 import BeautifulSoup
import requests
import re

url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino
3 - The Godfather: Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro
4 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman
9 - Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
11 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton
12 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher
19 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura
20 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt
21 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi
22 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino
23 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins
24 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed
25 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford
26 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon
27 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette
28 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan
29 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee
30 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway
31 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman
32 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne
33 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama
34 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons
35 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd
36 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann
37 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong
39 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
40 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh
41 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix
42 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill
43 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon
44 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo
45 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy
46 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons
47 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman
48 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi
49 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson
50 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman
51 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale
52 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly
53 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt
54 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando
55 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss
56 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen
57 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
58 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck
60 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro
61 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker
62 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight
63 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall
64 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth
65 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson
66 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich
67 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson
68 - Oldeuboi (2003) - Starring: Chan-wook Park (dir.), Min-sik Choi, Ji-Tae Yoo
69 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida
70 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott
71 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy
72 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods
73 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn
74 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi
75 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans
76 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal
77 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening
78 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau
79 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan
80 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer
81 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen
82 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada
83 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce
84 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw
85 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan
86 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford
87 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger
88 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth
89 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon
90 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood
91 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto
92 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak
93 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann
94 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar
95 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet
96 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen
97 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten
98 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay
99 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey
10 -  Ladri di biciclette (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola

Write a python program to find geospatial coordinates (i.e. latitudes and longitudes) of a city name entered by user from ‘www.google.co.in/maps’.

In [12]:
import requests
geo_url = 'http://maps.googleapis.com/maps/api/geocode/json'
my_address = {'address': input('Enter location'), 
             'language': 'en'}
response = requests.get(geo_url, params = my_address)
results = response.json()['results']
my_geo = results[0]
geodata = dict()
geodata['lat'] = result['geometry']['location']['lat']
geodata['long'] = result['geometry']['location']['long']
print('{lat}, {lng}'.format(**geodata))

IndexError: list index out of range

Write a python program to scrap book name, author name, genre and book review of 5 books from ‘www.bookpage.com’

In [10]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = 'https://bookpage.com/reviews'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
links = soup.find("div", {"class": "bp-well"}).findAll("div", {"class": "flex-article-content"})
book_list = []
for html in links:
    book = html.find("h4", {"class": "italic"}).find("a").get_text()
    author = html.find("p", {"class": "sans bold"}).get_text().strip()
    genre = html.find("p", {"class": "genre-links"}).find("a").get_text()
    review = html.find("p", {"class": ""})
    raw_list = [book, author, genre, review]
    book_list.append(raw_list)
test=pd.DataFrame(book_list)
test.columns =['Book_Name', 'Author', 'Genre', 'Review']

In [11]:
test

,Book_Name,Author,Genre,Review
0,Crow & Snow,"Robert Broder, Olivier Tallec",Children's,[A friendly scarecrow named Crow stands alone ...
1,Magic Dark and Strange,Kelly Powell,YA Fiction,"[Set in an alternate Victorian England, , [Mag..."
2,The Kidnapping Club,Jonathan Daniel Wells,Nonfiction,None
3,Cobble Hill,Cecily von Ziegesar,Fiction,"[When a person chooses a new home, it’s rarely..."
4,★ The Zealot and the Emancipator,H.W. Brands,Nonfiction,None
5,★ A Walk Around the Block,Spike Carlsen,Nonfiction,None
6,Shadows of the Short Days,Alexander Dan Vilhjálmsson,Science Fiction & Fantasy,None
7,The Neil Gaiman Reader,Neil Gaiman,Fiction,None
8,Cary Grant,Scott Eyman,Nonfiction,None
9,★ Among the Beasts & Briars,Ashley Poston,YA,"[Ashley Poston’s , [Among the Beasts & Briars]..."

5. Write a python program to scrap cricket rankings from ‘www.icc-cricket.com’. You have to scrap: 
i) Top 10 ODI teams. 
ii) Top 10 ODI Batsmen 
iii) Top 10 ODI bowlers

In [49]:
import urllib
import requests
from bs4 import BeautifulSoup
def ranking(url):
    page= requests.get(url)


    soup = BeautifulSoup(page.text, 'lxml')

    table = soup.find('table',{'class':'table'})


    data=[]
    for row in table.findAll('tr'):
        link = row.findAll('td')
        if len(link) == 5:
            data.append(link[1].text.strip())
                
    df = pd.DataFrame(data) 
    df=df[0:10]
    return df
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
url2="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
url3="https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling"
teams=ranking(url)
batsmen=ranking(url2)
bowlers=ranking(url3)
result=pd.concat([teams,batsmen,bowlers],axis=1, join='inner')
result.columns =['Top10 Teams', 'Top10 Batsmen', 'Top10 Bowlers'] 
result

        Top10 Teams        Top10 Batsmen   Top10 Bowlers
0      England\nENG          Virat Kohli     Pat Cummins
1        India\nIND         Rohit Sharma    Stuart Broad
2   New Zealand\nNZ           Babar Azam     Neil Wagner
3    Australia\nAUS          Ross Taylor     Tim Southee
4  South Africa\nSA  Francois du Plessis    Jason Holder
5     Pakistan\nPAK      Kane Williamson   Kagiso Rabada
6   Bangladesh\nBAN          Aaron Finch  Mitchell Starc
7     Sri Lanka\nSL         David Warner  James Anderson
8   West Indies\nWI      Quinton de Kock  Jasprit Bumrah
9  Afghanistan\nAFG       Jonny Bairstow     Trent Boult